/* Verify.css */
.verify {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* full viewport height */

}

.spinner {
  width: 60px;
  height: 60px;
  border: 8px solid #ccc;        /* light gray background */
  border-top: 8px solid tomato; /* blue foreground */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Spin animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
